[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
colorama = "*"
mypy = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
yapf = "*"

[packages]
aiohttp = "*"
numpy = "*"
protobuf = "*"
